html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.nav{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  margin: 30px 0;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  font-family: 'Montserrat', sans-serif;
}

.nav::before{
  background-color: darkcyan;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.navLinks::before{
  width: 0%;
  height: 100%;
  color: black;
}

.navLinks:hover::before{
  width: 100%;
  color: black;
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.skillsImgs {
  min-width: 50px;
  max-width: 100px;
}

.sections {
  padding-top: 30px;
  min-height: 70vh;
  /* align-items: center; */
}

.coloredText {
  color: darkcyan;
  /* text-decoration: underline dotted darkgreen; */
  box-shadow:
    inset 0 -0.075em white,
    inset 0 -0.1em blue,
    inset 0 -0.15em white,
    inset 0 -0.175em blue;
}

.titleDecoration {
  text-decoration: underline black;
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
}

.titleDecoration:hover {
  text-shadow: darkcyan;
}

.resume {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

img {
  width: 300px;
}

#About {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

.aboutOpening1 {
  font-size: 55px;
  letter-spacing: 3px;
}

.aboutOpening2 {
  font-size: 30px;
  text-align: left;
}

.allProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.projectPics {
  height: 360px;
  width: 360px;
  opacity: 0.8;
}

.projectTitles {
  padding-bottom: 15px;
  font-weight: bold;
  font-family: 'Bungee', cursive;
}

.projectButtons {
  width: 300px;
  height: 50px;
  font-size: auto;
}

.funFactPics {
  height: 250px;
  width: 250px;
  opacity: 0.8;
  border-radius: 50%;
}

.container {
  position: relative;
  height: 360px;
  width: 360px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  transition: all 0.3s ease; 
  opacity: 0; 
  background-color: black; 
}

.container .centered {
  visibility:hidden;
} 

.container:hover .centered {
  visibility:visible;
}

/* .overlay{ 
  transition: all 0.3s ease; 
  opacity: 0; 
  background-color: black; 
}  */

.container:hover .overlay{ 
  opacity: 0.86; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.overlayRight{ 
  height: 100%; 
  width: 0; 
  right: 75px; 
  background-color: black;
  text-align: center;
} 

.textDetails {
  text-align: left;
  padding: 15px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.container:hover .overlayRight{ 
width: 360px; 
} 

.funFactContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.funFactText {
  width: 50%;
  overflow-wrap: break-word;
  text-align: left;
}

.funFactContent img {
  margin-right: 10px;
  display: block;
}

.funFactContent h3,
.funFactContent p {
  margin: 5px;
}

.linkButton {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.linkButton:hover {
  background-image: linear-gradient(to right, darkcyan , pink);
  font-weight: bold;
  font-stretch: expanded;
}

.calendlyContainer {
  padding-top: 15px;
}

/* large screens */
@media only screen and (min-width: 1824px){
  .sections {
    min-height: 50vh;
  }

  /* -------about section---- */
  .aboutSection {
    padding-left: 170px;
    padding-right: 170px;
  }

  .aboutOpening1 {
    font-size: 70px;
  }
  
  .aboutOpening2 {
    font-size: 50px;
  }

  /* -------projects section------ */
  .allProjects {
    padding-left: 60px;
    padding-right: 60px;
  }

  .projectPics {
    height: 560px;
    width: 560px;
  }

  .container {
    height: 560px;
    width: 560px;
  }

  .container:hover .overlayRight{ 
    width: 560px; 
  } 

  .textDetails {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }

  .projectTitles {
    padding-bottom: 20px;
    font-size: 28px;
  }
}