html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.projectPics {
  height: 360px;
  width: 360px;
}

.nav{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  margin: 30px 0;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.nav::before{
  background-color: darkgray;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.navLinks::before{
  width: 0%;
  height: 100%;
  color: black;
}

.navLinks:hover::before{
  width: 100%;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.skillsImgs {
  min-width: 150px;
  max-width: 200px;
}

.sections {
  padding-top: 40px;
  min-height: 90vh;
  align-items: center;
}

.coloredText {
  color: blue;
  /* text-decoration: underline dotted darkgreen; */
  box-shadow:
    inset 0 -0.075em white,
    inset 0 -0.1em purple,
    inset 0 -0.15em white,
    inset 0 -0.175em purple;
}

.titleDecoration {
  text-decoration: underline overline black;
}

.resume {
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 300px;
}

#About {
  padding: 150px;
  font-size: 25px;
}

.hoverBox .hover-slideup {
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
  transform: translateY(100%);
  height: 360px;
  width: 360px;
}
.hoverBox:hover .hover-slideup,
.hoverBox.active .hover-slideup {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.hvrbox .hvrbox-layer_slideup {
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}